
<!-- <div class = 'container'>
<div class = "backg" [@daytoNight]="show ? 'backGround1' : 'backGround2'">
  <div class = 'ground'></div>
  <div class = 'sunWrapper'  >
    <div class = 'sun'  ></div>
  </div>
</div>


<div class = 'console'>
  <h1 class = 'consoleTitle'>Day/Night Button</h1>
  <button class = 'consoleButton'(click) = "changeColor()">{{this.Toggled}}</button>
<h1  class = 'consoleTitle'>Start Animation</h1>
  <button class = 'consoleButton'(click) = "moveSun()">Start</button>
</div>

</div> -->
<!-- <div class = 'squareBG'>
  <div class = 'square' [@moveSquare]> </div>
</div> -->

<!-- <div class = 'letter' [@spinningLetter]>W</div>
<div>E</div>
<div>L</div>
<div>C</div>
<div>O</div>
<div>M</div>
<div>E</div> -->
<div class = 'container2'>
  <div class="typewriter">
    <h1>Welcome Jemmy</h1>
  </div>
  <div class="typewriter">
    <h1>My Heart and A Beautiful Blessing </h1>
  </div>

</div>


